# Default of Credit Card Clients
## Decision tree type analysis

In [2]:
import pandas as pd
import os
import matplotlib.pyplot as plt

### EDA: rolling

```python
fig, axes = plt.subplots(12,3,sharex=True,sharey=True,figsize=(20,30))
for i,col in enumerate(columns):
    temp = pd.DataFrame({col:df[col].to_numpy(),'default':df['default'].to_numpy()})
    temp = temp.sort_values(col)
    temp.reset_index(inplace=True)
    axes[i//3,i%3].scatter(temp.index, temp.default.rolling(600).mean(),s=2)
    axes[i//3,i%3].set_xlabel(col)
    axes[i//3,i%3].set_ylim((0,1))
    axes[i//3,i%3].set_xticks([])
plt.savefig('./output/EDA/rolling_raw.png',dpi=300)
plt.show()
plt.close()
```

# Rolling raw

![dd](./output/EDA/rolling_raw.png)

# LOG Rolling

![](./output/EDA/rolling_log.png)

In [15]:
evals_df_more_reg = pd.read_csv('./output/more_reg/eval_results.csv')

In [18]:
evals_df_more_reg.columns

Index(['Unnamed: 0', 'name', 'accuracy', 'precision', 'recall', 'f1'], dtype='object')

In [20]:
evals_df_more_reg.set_index('Unnamed: 0')

                            name  accuracy  precision  recall      f1
Unnamed: 0
0             t_series,non_regul    0.7218     0.3749  0.3867  0.3807
1             t_series,non_regul    0.8100     0.6248  0.3521  0.4504
2             t_series,non_regul    0.8140     0.6500  0.3449  0.4506
3             t_series,non_regul    0.8208     0.6810  0.3569  0.4684
4                  raw,non_regul    0.7252     0.3876  0.4188  0.4026
5                  raw,non_regul    0.8212     0.6715  0.3746  0.4809
6                  raw,non_regul    0.8204     0.6906  0.3408  0.4564
7                  raw,non_regul    0.8252     0.6933  0.3762  0.4878
8                   t_series,reg    0.8222     0.6815  0.3682  0.4781
9                   t_series,reg    0.8078     0.6680  0.2605  0.3748
10                  t_series,reg    0.8078     0.6646  0.2645  0.3784
11                  t_series,reg    0.8091     0.6923  0.2460  0.3630
12                       raw,reg    0.8233     0.6978  0.3545  0.4701
13                       raw,reg    0.8178     0.7151  0.2926  0.4153
14                       raw,reg    0.8222     0.7226  0.3183  0.4420
15                       raw,reg    0.8158     0.7176  0.2757  0.3984
16               non_log,raw,reg    0.8233     0.6978  0.3545  0.4701
17               non_log,raw,reg    0.8178     0.7151  0.2926  0.4153
18               non_log,raw,reg    0.8222     0.7226  0.3183  0.4420
19               non_log,raw,reg    0.8158     0.7176  0.2757  0.3984
20          non_log,t_series,reg    0.8197     0.6452  0.4108  0.5020
21          non_log,t_series,reg    0.8078     0.6807  0.2468  0.3622
22          non_log,t_series,reg    0.8075     0.6674  0.2580  0.3722
23          non_log,t_series,reg    0.8053     0.6849  0.2219  0.3352

In [22]:
evals_df_pay =pd.read_csv('./output/tree_pay/eval_results.csv')
evals_df_pay.set_index('Unnamed: 0')

                            name  accuracy  precision  recall      f1
Unnamed: 0
0             t_series,non_regul    0.7682     0.4684  0.3569  0.4051
1             t_series,non_regul    0.7877     0.5283  0.3746  0.4384
2             t_series,non_regul    0.8116     0.6451  0.3288  0.4356
3             t_series,non_regul    0.8222     0.6810  0.3690  0.4786
4                  raw,non_regul    0.7252     0.3876  0.4188  0.4026
5                  raw,non_regul    0.8212     0.6715  0.3746  0.4809
6                  raw,non_regul    0.8204     0.6906  0.3408  0.4564
7                  raw,non_regul    0.8252     0.6933  0.3762  0.4878
8                   t_series,reg    0.8201     0.6774  0.3561  0.4668
9                   t_series,reg    0.8220     0.6957  0.3473  0.4633
10                  t_series,reg    0.8130     0.6733  0.2998  0.4149
11                  t_series,reg    0.8116     0.6825  0.2765  0.3936
12                       raw,reg    0.8197     0.6742  0.3577  0.4674
13                       raw,reg    0.8224     0.7184  0.3240  0.4465
14                       raw,reg    0.8226     0.7043  0.3408  0.4594
15                       raw,reg    0.8178     0.7277  0.2814  0.4058
16               non_log,raw,reg    0.8197     0.6742  0.3577  0.4674
17               non_log,raw,reg    0.8224     0.7184  0.3240  0.4465
18               non_log,raw,reg    0.8226     0.7043  0.3408  0.4594
19               non_log,raw,reg    0.8178     0.7277  0.2814  0.4058
20          non_log,t_series,reg    0.8201     0.6774  0.3561  0.4668
21          non_log,t_series,reg    0.8220     0.6957  0.3473  0.4633
22          non_log,t_series,reg    0.8130     0.6733  0.2998  0.4149
23          non_log,t_series,reg    0.8116     0.6825  0.2765  0.3936